<html>
<head>
	<title>dbproj</title>
</head>
<body></br></br> </br>
	<form action="/form/" method="post">
		<input type="submit" value="view members">
	registered members list:
	{% for userdet in results %}
	<li>{{ userdet|escape }}</li>
	{% endfor %}
</body>
</html>